<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Weather Tab -->
  <ion-tab title="My City" icon-off="ion-location" icon-on="ion-location" href="#/tab/weather">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>

  <!-- Places Tab -->
  <ion-tab title="Places" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/places">
    <ion-nav-view name="tab-places"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-settings" icon-on="ion-ios-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
