<ion-view view-title="BERLIN">
  <ion-content>
    <ion-grid>
      <ion-item>
        <ion-row class="row-container">
          <ion-col class="col-container" ng-repeat="weather in hourlyWeathers">
            <span>{{weather.date | date : "HH:mm"}}</span>
            <span>{{weather.temperatureInt}} C</span>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>

    <ion-grid>
      <ion-item>
        <ion-row class="row-container">
          <ion-col class="col-container">
            <ion-row class="row-container">
              Feels like
            </ion-row>
            <ion-row class="row-container">
              {{dailyWeathers[0].apparentTemperatureHighInt}}
            </ion-row>
          </ion-col>
          <ion-col class="col-container">
            <ion-row class="row-container">
              Humidity
            </ion-row>
            <ion-row class="row-container">
              <span>{{dailyWeathers[0].temperatureMinInt}} C</span>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="row-container">
          <ion-col class="col-container">
            <ion-row class="row-container">
              Lowest
            </ion-row>
            <ion-row class="row-container">
              {{dailyWeathers[0].temperatureMinInt}}
            </ion-row>
          </ion-col>
          <ion-col class="col-container">
            <ion-row class="row-container">
              Highest
            </ion-row>
            <ion-row class="row-container">
              <span>{{dailyWeathers[0].temperatureHighInt}} C</span>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </ion-content>
</ion-view>
